@use "@/styles/variables" as *;
@use "../../styles/global" as *;

.short-news-card {
  @extend .card;
  margin-bottom: 10px;
  padding: $padding-base;
  background: $short-cardBG;
  display: inline-block;
  box-shadow: 2px 2px 19px #1e0a3a29;
  display: flex;
  gap: 10px;

  .title {
    font-size: $font-size-base;
    font-weight: $weight-bold;
    color: $primary-text-color;
  }

  .timestamp {
    display: block;
    font-size: $font-size-xsmall;
    color: $secondary-text-color;
    margin-top: 4px;
    opacity: 0.7;
  }

  .thumb {
    flex: 0 0 75px;
    img {
      width: 100%;
      height: 4.0625rem;
      border-radius: 10px;
      width: 4.0625rem;
      object-fit: cover;
    }
  }
}
