@use '@/styles/variables' as *;


.right-aside {
    background-color: $white;
    padding: 20px;
    font-family: $font-family;
    color: $primary-text-color;
   

    &-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
         max-width: 340px;
        flex: 0 1 340px;
        position: sticky;
        top: 100px;
    }

    h2 {
        font-size: $font-size-large;       
    }

}

@media (max-width: 1200px) {

.right-aside {
    &-container {
        max-width: 300px;
        flex: 1 1 300px;
}
}
}
