@use '@/styles/variables' as *;


.home-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;

  h2 {
    margin-bottom: 20px;
  }

}


@media (max-width: 1200px) {

  .home-content-container { 
     max-width: 560px;
  }

 }

@media (max-width: 1024px) { 

    .home-content-container { 
     max-width: 460px;
  }

 }

@media (max-width: 768px) { 

    .home-content-container { 
     max-width: 300px;
  }

 }
