@use '@/styles/variables' as *;


.home-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;

  h2 {
    margin-bottom: 20px;
  }

}